.accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.fq-heading {
  color: #29327a;
  font-weight: 700;
}
.accordion-button {
  font-weight: 600;
  font-size: 22px;
}
.list-group {
  margin-bottom: 5rem;
  box-shadow: 0px 4px 4px 0px #0000002e;
}
.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
  color: #000;
  font-size: 22px;
  /* font-weight: 500; */
  line-height: 27px;
}
.activity-head {
  color: #000;
  font-weight: 600;
  font-family: inherit;
}
.active-main-box {
  border: solid 2px #e4e4e4;
  box-shadow: 0px, 4px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
}
.active {
  background-color: rgba(41, 50, 122, 0.04);
}
.list-group-item.active {
  z-index: 2;
  color: #000;
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  padding: 1rem;
}
ul.list-group {
  overflow-y: scroll;
  height: 195px;
}
.active-common-head {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  padding: 1rem !important;
}
.active-common-time {
  color: #6d6c6c;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01px;
  margin-bottom: 0rem;
  padding: 0.2rem 0rem;
}
.tank-head {
  font-weight: 600;
  font-size: 22px;
}
.tank-box {
  padding: 1rem;
  border: solid 2px #dddddd;
  border-radius: 10px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.sub-tank {
  border: solid 2px #e4e4e4;
  width: 279px;
  height: 262px;
  border-radius: 10px;
  position: relative;
}
.tank-details {
  border: solid 2px #dddddd;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 1rem;
  width: 20%;
}
.ul-level-indi {
 
  font-weight: bold;
  position: relative;
 
}
.ul-level-indi:after {
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  background: #000;
  left: -24px;
  top: 35%;
  position: absolute;
}
.for-space{
  margin: 85px auto;
}
.for-res-color{
  color: #B60C0C;
}
.for-full-color{
color: #0784F6;
}
.point {
  height: 10px;
  width: 10px;
  background-color: #000;
  color: red;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: #b60c0c;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
.green {
  background-color: #118130;
  margin-left: 10px;
}
.border-box-tank {
  border: solid 2px #e4e4e4;
  width: 276px;
  height: 208px;
  border-radius: 10px;
  /* transform: translateZ(0px); */
  background-color: #0784f6;
  transform: translateY(51px);
}
.border-box-tank-1 {
  border: solid 2px #e4e4e4;
  width: 276px;
  height: 261px;
  border-radius: 10px;
  /* transform: translateZ(0px); */
  background-color: #0784f6;
  transform: translateY(-2px);
}
.border-box-tank-2 {
  border: solid 2px #e4e4e4;
  width: 276px;
  height: 100px;
  border-radius: 10px;
  /* transform: translateZ(0px); */
  background-color: #0784f6;
  transform: translateY(159px);
}
.border-box-tank-3 {
  border: solid 2px #e4e4e4;
  width: 276px;
  height: 40px;
  border-radius: 10px;
  /* transform: translateZ(0px); */
  background-color: #0784f6;
  transform: translateY(220px);
}
.level {
  color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* padding: 50px; */
  height: 255px;
}
.level-2 {
  color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* padding: 50px; */
  height: 206px;
}
.level-3 {
  color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* padding: 50px; */
  height: 100px;
}
.level-4 {
  color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* padding: 50px; */
  height: 38px;
}
.ul-level {
  position: absolute;
  left: 300px;
}
@media only screen and (max-width: 600px) {
  .tank-box {
    padding: 1rem;
    border: solid 2px #dddddd;
    border-radius: 10px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tank-details {
    border: solid 2px #dddddd;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
  }
}
